
.Form {
    padding-top: 100px;
    align-self: center;
    width: 20rem;
    max-width: 90%;
    margin: auto;
    align-content: flex-start;
    
}

.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

}

.Label {
  color: black;
  font-size: 15px;
  width: 160px;
  padding-right: 10px;
}

.InputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  
  box-sizing: border-box;
}

.InputElement:focus {
  outline: none;
  background-color: #ccc;
}

.Invalid {
  border: 1px solid red;
  background-color: #FDA49A;
}

.ValidationError {
  color: red;
  margin: 5px 0;
  font-size: small;
  
} 



.Btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  
  text-decoration: none;
  font: inherit;
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.Btn:hover,
.Btn:active {
  background-color: #00695c;
  color: white;
}


.Btn.danger {
  color: red;
  border-color: red;
}

.Btn.danger:hover,
.Btn.danger:active {
  background: red;
  color: white;
}