.Grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;


    margin-left: 20%;
  }

  @media (max-width: 500px) {
    .Grid {
      margin-left: 0%;
     
    }
  }