.Toolbar {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 200;
}

.Toolbar nav {
    height: 100%;
    color: white
}
.Toolbar h2{
    color: white;
    align-self: center;
}
.Logo {
    height: 100%;
}

@media (max-width: 499px) {
    .Toolbar h2{
       display: none;
    }
}