.SideDrawer {
    position: fixed;
    width: 50%;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 400;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.SideDrawer a {
  
    color: purple;
  
}

.NavigationItem a:active,
.NavigationItem a.active {
    border-bottom: 4px solid blue;
}

.SideDrawer a:hover {
  
    color: rgb(41, 2, 41);
    font-size:25px ;
  
}

.SideDrawer img {
   
   width: 20px ;
   height: 20px;
   cursor: pointer;
}


@media (min-width: 500px) {
    .SideDrawer { 
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.Logo {
    height: 11%;
    margin-bottom: 32px;
}